[submodule "wine"]
	path = wine
	url = https://github.com/AndreRH/wine.git
	branch = arm64ec
[submodule "qemu"]
	path = qemu
	url = https://github.com/AndreRH/qemu.git
	branch = wow
[submodule "fex"]
	path = fex
	url = https://github.com/AndreRH/FEX.git
	branch = arm64ec
[submodule "box64"]
	path = box64
	url = https://github.com/AndreRH/box64
	branch = wow64
