[submodule "wine"]
	path = wine
	url = ssh://stefandoesinger.ddns.net/~git/hangover/wine
[submodule "qemu"]
	path = qemu
	url = ssh://stefandoesinger.ddns.net/~git/hangover/qemu
[submodule "glib"]
	path = glib
	url = ssh://stefandoesinger.ddns.net/~git/hangover/glib
